/* admin.css */
.product-table {
  width: 800px;
  border-collapse: collapse;
}

.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table td.input-column {
  width: 50px; /* Fixed width for stock column */
}

.product-table td.price-column {
  width: 100px; /* Fixed width for price column */
}

.product-table td.action-column {
  display: flex;
  justify-content: space-evenly;
  width: 250px; /* Fixed width for price column */
}

.input-column input,
.price-column input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid red;
}

.action-button {
  width: 40%;
}
